@use "./colors" as colors;
@use "./fonts";
@use "./config";

.add-task__window {
	position: absolute;
	width: 80vw;
	height: 60vh;
	top: 50%;
	left: 100%;
    transform: translateY(-50%);
	background: colors.$search-gradient;
	border: none;
	border-radius: 14px;
	z-index: 2;
	transition: transform 0.5s;
}
.add-task__window__show {
	transform: translateX(-112.5%) translateY(-50%);
}
