$background-color: #0b0b13;
$pure-white: #fff;
$subtitle: #a1a1aa;
$search-gradient: linear-gradient(90deg, #303059 0%, #6666bf 100%);
$task-gradient: linear-gradient(90deg, #4b4b8e 0%, #151528 100%);
$active-button: #7fbd62;
